name: Install

on:
  pull_request_target:

jobs:
  install:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout base code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Insatll
        run: |
          python main.py

      - name: Wait
        run: sleep 30m
