name: Install

on:
  pull_request_target:
    types: [opened, synchronize, reopened, labeled]

jobs:
  install:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Remove "safe to test" label, if PR is from a fork
        uses: nilsreichardt/remove-safe-to-test-label@76525f0cc2db129f204e94cc28d3e865e815753f

      - name: Ensure PR has "safe to test" label, if PR is from a fork
        uses: nilsreichardt/verify-safe-to-test-label@bf23206df73cefc6c47aec20af24938b5665f78f
    
      - name: Checkout base code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Insatll
        run: |
          python main.py
